In [1]:
import pandas as pd
import numpy as np
import pylab as pl
%matplotlib inline

In [2]:
df1 = pd.read_excel("version1.xlsx")
df1.head()

,Unnamed: 0,sexe,age,logement,filiere,endroit_travail,travail_equipe,heure_dormir,sport_par_sem,activites_para,...,orientation,ressources_materials,Mauvais_Gestion_temps,qualite_logement,addiction_drogues,mauvais_choix_de_cours,réseaux_sociaux,Barrieres_de_langage,l'entourage,gaming
0,0,Homme,21,Interne,GI,Cafè,0,00:00:00,parfois,1,...,0,0,1,1,0,0,0,1,1,0
1,1,Homme,18,Interne,CP1,La Bibliothèque,0,02:00:00,jamais,1,...,0,1,1,1,0,1,1,1,0,1
2,2,Homme,21,Interne,GI,Cafè,1,01:00:00,quelquefois,1,...,0,1,1,1,0,0,1,1,0,1
3,3,Homme,18,Externe,CP2,Cafè,1,02:00:00,jamais,1,...,0,0,0,0,0,1,1,0,0,0
4,4,Homme,21,Interne,GC,Chez moi,1,01:00:00,quelquefois,0,...,1,1,0,1,0,0,0,1,1,0

In [4]:
df=df1[['age','orientation','ressources_materials','Mauvais_Gestion_temps','mauvais_choix_de_cours','réseaux_sociaux','resultat_etudiant']]

In [5]:
df.head()

,age,orientation,ressources_materials,Mauvais_Gestion_temps,mauvais_choix_de_cours,réseaux_sociaux,resultat_etudiant
0,21,0,0,1,0,0,semestre_Valide
1,18,0,1,1,1,1,semestre_Rattrapage
2,21,0,1,1,0,1,semestre_Valide
3,18,0,0,0,1,1,semestre_Rattrapage
4,21,1,1,0,0,0,semestre_Valide

In [6]:
df.to_excel("test.xlsx")

In [13]:
test = pd.read_excel("test.xlsx")
test.head()

,Unnamed: 0,age,orientation,ressources_materials,Mauvais_Gestion_temps,mauvais_choix_de_cours,réseaux_sociaux,resultat_etudiant
0,0,21,0,0,1,0,0,semestre_Valide
1,1,18,0,1,1,1,1,semestre_Rattrapage
2,2,21,0,1,1,0,1,semestre_Valide
3,3,18,0,0,0,1,1,semestre_Rattrapage
4,4,21,1,1,0,0,0,semestre_Valide

In [14]:
del test['Unnamed: 0']

In [15]:
test.to_excel("test.xlsx")

In [16]:
test.head()

,age,orientation,ressources_materials,Mauvais_Gestion_temps,mauvais_choix_de_cours,réseaux_sociaux,resultat_etudiant
0,21,0,0,1,0,0,semestre_Valide
1,18,0,1,1,1,1,semestre_Rattrapage
2,21,0,1,1,0,1,semestre_Valide
3,18,0,0,0,1,1,semestre_Rattrapage
4,21,1,1,0,0,0,semestre_Valide

In [17]:
X=test[['age','orientation','ressources_materials','Mauvais_Gestion_temps','mauvais_choix_de_cours','réseaux_sociaux']].values
X[0:5]

array([[21,  0,  0,  1,  0,  0],
       [18,  0,  1,  1,  1,  1],
       [21,  0,  1,  1,  0,  1],
       [18,  0,  0,  0,  1,  1],
       [21,  1,  1,  0,  0,  0]], dtype=int64)

In [18]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
y = df["resultat_etudiant"]
y[0:5]

0        semestre_Valide
1    semestre_Rattrapage
2        semestre_Valide
3    semestre_Rattrapage
4        semestre_Valide
Name: resultat_etudiant, dtype: object

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_trainset, X_testset, y_trainset, y_testset = train_test_split(X, y, test_size=0.3, random_state=3)

In [22]:
drugTree = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
drugTree # it shows the default parameters

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [23]:
drugTree.fit(X_trainset,y_trainset)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
predTree = drugTree.predict(X_testset)

In [25]:
print (predTree [0:5])
print (y_testset [0:5])

['semestre_Rattrapage' 'semestre_Rattrapage' 'semestre_Rattrapage'
 'semestre_Valide' 'semestre_Rattrapage']
248        semestre_Valide
320        semestre_Valide
81         semestre_Valide
255    semestre_Rattrapage
217        semestre_Valide
Name: resultat_etudiant, dtype: object

In [26]:
from sklearn import metrics
import matplotlib.pyplot as plt
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_testset, predTree))

DecisionTrees's Accuracy:  0.6363636363636364

In [ ]:
pip uninstall graphviz

In [ ]:
from sklearn.externals.six import StringIO
import pydotplus
import matplotlib.image as mpimg
from sklearn import tree
%matplotlib inline

In [ ]:
dot_data = StringIO()
filename = "drugtree.png"
featureNames = test.columns[0:6]
targetNames = test["resultat_etudiant"].unique().tolist()
out=tree.export_graphviz(drugTree,feature_names=featureNames, out_file=dot_data, class_names= np.unique(y_trainset), filled=True,  special_characters=True,rotate=False)  
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png(filename)
img = mpimg.imread(filename)
plt.figure(figsize=(100, 200))
plt.imshow(img,interpolation='nearest')